version: "3.8"

services:
  spyre-document-summarizer:
    image: localhost/spyre-document-summarizer:v2
    container_name: spyre-document-summarizer
    extra_hosts:
      - "spyre-vf-test-test-vf.apps.ocpz-standard.b39-ocpai2.pok.stglabs.ibm.com:9.47.95.169"
    volumes:
      - ./backend:/home/dev/Spyre_Document_Summarizer/backend
    working_dir: /home/dev/Spyre_Document_Summarizer
    environment:
      - REACT_APP_API_BASE_URL=${REACT_APP_API_BASE_URL}
    security_opt:
      - label=disable
    tty: true
    ports:
      - "3002:3002"
      - "8002:8002"
    networks:
      - app-network
    depends_on:
      - opensearch
      - mongodb

  mongodb:
    image: docker.io/s390x/mongo:4
    container_name: mongodb
    security_opt:
      - label=disable
    environment:
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - "27017:27017"
    networks:
      - app-network

  opensearch:
    image: phoenixsystemsag/opensearch:2.9.0
    container_name: opensearch-doc-summary
    security_opt:
      - label=disable
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - "19200:9200"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - app-network

volumes:
  opensearch-data:

networks:
  app-network:
    driver: bridge
